.about {
    font-family: 'Inter';
    margin-bottom: 3%;
    padding:1%;
}

.about-container{
    display: flex;
    align-items: center; 
    font-family:'Montserrat','sans-serif';
    font-weight:bold;
}

.about-header{
    font-size:210%;
}

.about-content {
    font-size: 1.3em;
    text-align: justify;
    margin-right: 1.5%;
    align-items: center; 
}

.about-carousel {
    padding: 0px;
}

.about-carousel .carousel-item{
    height: 20%;
    width: 40%;
    box-shadow: 8px 8px 14px grey;
}

.founder-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.founder-img {
    width: 67%;
    height: 67%;
    border-radius: 50%;
    object-fit: scale-down;
}

.founder-image:hover {
    transform: scale(1.1);
}
.carousel-item.active {
    border-bottom: none !important;
}

@media (max-width: 720px) {

    .about-header{
        font-size:1.6em;
    }
    .about-content {
        font-size: 0.7em;
    }

    .about-carousel .carousel-item{
        height: 60vw;
    }

    .contact-header > span {
        font-size: 0.7em;
        font-weight: 600;
    }

    .line {
        display: none;
        margin-top: 5%;
    }

    .yellow-line {
        background-color: #FFBD59;
        height: 7%;
        width: 1em;
    }

    .founder-img {
        width: 150px;
        height: 150px;
    }   

    .second-about {
        margin-top: 10px !;
    }

}