.insurance-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.mutual-title{
    text-align: center;
    font-weight: 700;
    margin: 1em 0;
    font-size: 2.5em; 
}

.mutual-header {
    color: #333;
    font-size: 1.5em;
    margin: 2em;
    text-align: center;
    text-decoration: underline ;
}

.insurance-header {
    text-align: center;
    font-weight: 700;
    margin: 1em 0;
    font-size: 2.5em; 
}

.insurance-content {
    color: #666;
    line-height: 1.6;
}

.insurance-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 600px; 
}

.insurance-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    position: absolute;
    animation: insurance-fadeIn 1s forwards;
    opacity: 0;
}

.insurance-circle {
    background-color: #ff6600;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
}

.insurance-circle img {
    width: 40px;
    height: 40px;
}

.insurance-type:hover .insurance-circle {
    transform: scale(1.1);
}

.insurance-text {
    color: #333;
    font-weight: bold;
}

@keyframes insurance-fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#type-01 { top: 20px; left: calc(50% - 40px); }
#type-02 { top: 200px; left: calc(15% - 50px); }
#type-03 { top: 200px; left: calc(85% - 50px); }
#type-04 { top: 380px; left: calc(35% - 50px); }
#type-05 { top: 380px; left: calc(65% - 50px); }

#type-01 .insurance-circle { background-color: #3399ff; }
#type-02 .insurance-circle { background-color: #ff6666; }
#type-03 .insurance-circle { background-color: #99cc33; }
#type-04 .insurance-circle { background-color: #ff9933; }
#type-05 .insurance-circle { background-color: #cc33cc; }

@media(max-width:720px){
    
#type-01 { top: 20px; left: calc(50% - 62px); }
#type-02 { top: 200px; left: calc(15% - 60px); }
#type-03 { top: 200px; left: calc(85% - 70px); }
#type-04 { top: 380px; left: calc(35% - 95px); }
#type-05 { top: 380px; left: calc(65% - 75px); }

}
