.parent-navbar-component {
    background-color: #00b386;
    opacity: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0%;
    gap:1%;
}

.navbar-logo {
    width: 17%;
    margin-left: 5%;
}

.logo {
    max-width: 100%;
}

.navbar-links {
    display:flex;
    gap:7%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap:10%;
    font-size: 1.1vw;
    color: #616161;
    align-items: center;
    margin-bottom: 0px;
    margin-right:15em;
}

.nav-item {
    white-space: nowrap;
}

.nav-item:hover {
    color: #1c6ade;
    font-weight: 600;
    border-bottom: 5px solid #1c6ade;
    border-radius: 3px;
}

.active {
    color: #1c6ade;
    font-weight: 600;
    border-bottom: 5px solid #1c6ade;
    border-radius: 3px;
}

.active.ignore-active-border,
.ignore-active-border:hover {
    border: none;
}

.navbar-mobile {
    display: none;
}

.client-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    border: 1px solid white;
    color: white;
    padding: 8px 16px;
    background-color: #00b386;
    border-radius: 5px;
    box-shadow: 4px 4px 7px rgba(20, 20, 20, 0.3);
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.2s ease-out, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 1;
  }
  
  .client-button:hover {
    background-color: #007c68;
    transform: translateY(-2px);
    box-shadow: 4px 4px 7px rgba(20, 20, 20, 0.5);
  }
  
  .client-button:focus {
    outline: none;
  }
  
  .client-button:active {
    transform: translateY(1px);
  }

.client-button-container{
    align-items: center;
    justify-content: center;
    padding: 1% 4%;
}

.button-container{
    margin-right:5%;
}

@media (max-width: 990px) {
    .navbar {
        display: none;
    }

    .navbar-logo {
        width: 40%;
    }

    .navbar-mobile {
        color: white;
        padding: 1%;
        background-color: #00b386;
        opacity: 1;
        display: flex;
        align-items: center;
        padding:3%;
    }

    .hamburger {
        color: whitesmoke;
        position: absolute;
        right: 11%;
        cursor: pointer;
        margin-right:-1.3em;
    }

    .navbar-mobile .navbar-links-mobile ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        background-color: white;
        color: white;
        position: absolute;
        top: 105%;
        left: 50%;
        width: 48%;
        border-radius: 3px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .nav-item-mobile {
        width: 100%;
        margin-left: -10%;
        font-size: 1.3em;
        color: black;
        padding: 10px 0;
        border-bottom: 1px solid #6d6c6c; 
    }

    .nav-item-mobile:last-child {
        border-bottom: none; 
    }

    .nav-item-mobile:hover {
        color: black;
        font-weight: 600;
    }

    .active {
        color: black;
        font-weight: 700;
    }

    .nav-item-mobile a {
        text-decoration: none;
        color: black;
        display: block;
    }

    .client-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 350;
        border: 1px solid white;
        color: white;
        padding: 8px 16px;
        background-color: #00b386;
        border-radius: 5px;
        box-shadow: 4px 4px 7px rgba(20, 20, 20, 0.3);
        position: relative;
        overflow: hidden;
        transition: background-color 0.3s ease, transform 0.2s ease-out, box-shadow 0.3s ease;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        line-height: 1;
        transform:scale(0.8);
      }
      
      .client-button:hover {
        background-color: #007c68;
        transform: translateY(-2px);
        box-shadow: 4px 4px 7px rgba(20, 20, 20, 0.5);
      }
      
      .client-button:focus {
        outline: none;
      }
      
      .client-button:active {
        transform: translateY(1px);
      }
    
    .client-button-container{
        align-items: center;
        justify-content: center;
        position:absolute;
        right:10%;
        padding: 1% 4%;   
    }
}

